-@websites.each do |w|
	%h1= w.name
	%p 
		Page discovered 
		=w.found
	.btn-group{role: 'group', 'aria-label' => "b"}
		=link_to 'Visit link', "http://#{w.url}", class: "btn btn-primary"
		=link_to 'Show', website_path(w), class: "btn btn-primary"
		-if false
			=link_to 'Edit', websites_path, class: "btn btn-info"
			=link_to 'Destroy', websites_path, class: "btn btn-info"
	%p=	w.found